In [119]:
import pandas as pd

In [120]:
df = pd.read_csv(r'C:\Users\Mantyk\Desktop\Data Analysis\Filmweb\Working\PyCharm\Movies')

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9185 entries, 0 to 9184
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   polish_title    9185 non-null   object
 1   original_title  9185 non-null   object
 2   score           9185 non-null   float64
 3   year            9185 non-null   int64
 4   length          9185 non-null   int64
 5   genre           9184 non-null   object
 6   director        9169 non-null   object
 7   country         9184 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 574.2+ KB

In [122]:
df.shape

(9185, 8)

In [123]:
df[df.duplicated()]

,polish_title,original_title,score,year,length,genre,director,country
2209,Tata kontra tata,Daddy's Home,6.2,2015,96,Komedia,Sean Anders,USA
2210,M jak morderstwo,Dial M for Murder,7.9,1954,105,Kryminał,Alfred Hitchcock,USA
2211,Myśl jak facet,Think Like a Man,6.7,2012,122,Komedia rom.,Tim Story,USA
2212,Prawdziwe kłamstwa,True Lies,7.1,1994,144,Komedia,James Cameron,USA
2213,Kroniki portowe,The Shipping News,7.3,2001,111,Dramat obyczajowy,Lasse Hallström,USA
...,...,...,...,...,...,...,...,...
9180,De Domeinen Ditvoorst,De Domeinen Ditvoorst,5.0,1992,112,Dokumentalny,Thom Hoffman,Holandia
9181,Novias impacientes,Novias impacientes,7.0,1967,85,Dramat,Miguel M. DelgadogatunekDramat,Meksyk
9182,Las Mariposas disecadas,Las Mariposas disecadas,4.0,1978,106,Dramat,NaN,Meksyk
9183,Los Amantes frios,Los Amantes frios,4.0,1978,114,Dramat,Julio Bracho,Meksyk
9184,20h17 rue Darling,20h17 rue Darling,7.0,2003,101,Dramat,Bernard Émond,Kanada

In [124]:
df[df.isna().any(axis=1)]

,polish_title,original_title,score,year,length,genre,director,country
2581,Naprzód,Onward,7.3,2020,102,Animacja,Dan Scanlon,NaN
3557,Superprodukcja,Superprodukcja,4.9,2002,92,NaN,Juliusz Machulski,zobacz gdzie obejrzeć onlinereżyseriaJuliusz M...
4718,Percy Jackson and the Titan's Curse,Percy Jackson and the Titan's Curse,8.1,2023,90,Fantasy,NaN,Kanada
8550,Miliardowy okup,Take Down,5.6,2016,107,Thriller,NaN,USA
9050,The Great Stone Face,The Great Stone Face,7.0,1968,93,Dokumentalny,NaN,US
9054,Hollywood at Your Feet: The Story of the Chine...,Hollywood at Your Feet: The Story of the Chine...,6.0,2000,91,Dokumentalny,NaN,US
9057,Teatr,Teatris,8.0,1978,136,Dramat,NaN,ZSR
9080,Las Mariposas disecadas,Las Mariposas disecadas,4.0,1978,106,Dramat,NaN,Meksyk
9093,Wypracowanie nie na temat,Wypracowanie nie na temat,5.0,1973,13,Dokumentalny,NaN,Polskaoceń twórcó
9097,Teatr,Teatris,8.0,1978,136,Dramat,NaN,ZSR
9104,Muzhskoy razgovor,Muzhskoy razgovor,4.0,1968,93,Dramat,NaN,ZSRR
9118,Who Stole Santa?,Who Stole Santa?,8.0,1996,62,Animacja,NaN,US
9131,Who Stole Santa?,Who Stole Santa?,8.0,1996,62,Animacja,NaN,US
9158,Bells of Rosarita,Bells of Rosarita,6.0,1945,68,Western,NaN,USA
9164,The Hit Man,The Hit Man,10.0,1991,96,Akcja,NaN,USA
9168,Bells of Rosarita,Bells of Rosarita,6.0,1945,68,Western,NaN,USA
9174,The Hit Man,The Hit Man,10.0,1991,96,Akcja,NaN,USA
9182,Las Mariposas disecadas,Las Mariposas disecadas,4.0,1978,106,Dramat,NaN,Meksyk

In [125]:
df = df.drop_duplicates()
df = df.dropna()
df.shape

(8715, 8)

In [126]:
df.head()

,polish_title,original_title,score,year,length,genre,director,country
0,300,300,7.5,2006,117,Dramat historyczny,Zack Snyder,USA
1,Przerwana lekcja muzyki,"Girl, Interrupted",7.9,1999,127,Biograficzny,James Mangold,Niemcy
2,Harry Potter i Kamień Filozoficzny,Harry Potter and the Sorcerer's Stone,7.5,2001,152,Familijny,Chris Columbus,USA
3,"Złap mnie, jeśli potrafisz",Catch Me If You Can,7.9,2002,141,Komedia kryminalna,Steven Spielberg,Kanada
4,Donnie Darko,Donnie Darko,7.7,2001,113,Dramat,Richard Kelly,USA

In [127]:
df.tail()

,polish_title,original_title,score,year,length,genre,director,country
9161,The Blue Parrot,The Blue Parrot,4.0,1953,69,Dramat,John HarlowgatunekDramat,Wielka Brytania
9162,Montecarlo!,Montecarlo!,5.0,2004,80,Komedia,Gábor Fischer,Węgry
9163,The Dragon Murder Case,The Dragon Murder Case,6.0,1934,68,Kryminał,H. Bruce Humberstone,USA
9175,Halvblod,Halvblod,7.0,1913,69,Dramat,Victor Sjöström,Szwecja
9176,Fluchtversuch,Fluchtversuch,10.0,1976,95,Dramat,Vojtěch Jasný,Austria

In [118]:
# df.to_excel('Movies_excel.xlsx')